body {
    background-color: white;
}

.navbar {
    display: flex;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.navbar a {
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar a:hover {
    background-color: #ddd;
    color: #000;
}

.holdings-table {
    border: 1px solid black;
    border-collapse: collapse;
}

.holdings-table th, .holdings-table td {
    padding: 10px;
    border: 1px solid black;
}

.holdings-table .na {
    text-align: center;
    color: #888;
}