<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global_style.css') }}">

    {% block app_styles %}{% endblock %}
    {% block app_scripts %}{% endblock %}
</head>
<body>

    <nav style="padding: 20px; border-bottom: 1px solid var(--border); display: flex; justify-content: space-between; align-items: center;">
        <a href="/" style="text-decoration: none; color: var(--text-main); font-weight: 600; font-size: 14px;">PORTAL_OS</a>
        <div style="font-family: var(--mono-font); font-size: 11px; color: var(--text-muted);">v1.1</div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>